:root {
  --clr-primary-1: #aa60c8;
  --clr-primary-2: #d69ade;
  --clr-primary-3: #eabde6;
  --clr-primary-4: #ffdfef;
}
.title {
  background: var(--clr-primary-2);
  width: 85dvw;
  padding-block: 1.26rem;
  padding-inline: 6rem 96px;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  border-left: 1px solid #fff;
  color: #3b2046;
  margin-left: 15rem;
}
.main {
  border-left: 1px solid #fff;
  background-color: #fff;
}
.projects-container {
  margin-top: 1.5rem;
  padding-left: 3rem;
  margin-left: 18rem;
}
.projects-container h3 {
  margin-bottom: 2rem;
  color: #74358d;
}
.projects {
  flex-wrap: wrap;
  gap: 1rem;
}
.project {
  text-decoration-line: none;
}
.project {
  background: rgb(244, 243, 243) !important;
  border: none !important;
  width: 28%;
}
.project h5 {
  color: #74358d;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}
.status {
  display: inline-block;
  padding-inline: 1rem;
  padding-block: 0.23rem;
}
.description {
  letter-spacing: 1px;
  color: #301c3a;
}
.date {
  color: gray;
}
.tasks h5 {
  font-size: 1.2rem;
}
.tasks {
  margin-bottom: 2rem;
}
.task {
  background: rgb(244, 243, 243) !important;
  border: none !important;
  width: 28%;
}
