:root {
  --clr-primary-1: #2f3e46;
  --clr-primary-2: #354f52;
  --clr-primary-3: #52796f;
}
.login-navbar {
  padding-inline: 5rem;
}
.login-navbar a {
  font-size: 1.8rem;
  font-family: cursive;
  color: var(--clr-primary-1);
}
.form {
  width: 30%;
  margin: 10% auto;
  background-color: rgb(248, 249, 250);
  padding-inline: 2.5rem;
  padding-block: 2.5rem;
  padding-bottom: 3.5rem;
  margin-top: 7rem;
  border-radius: 5px;
}
.form h3 {
  color: var(--clr-primary-1);
  letter-spacing: 1.2px;
}
.form p {
  color: grey;
  letter-spacing: 1.2px;
}
.form label {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  color: rgb(80, 79, 79);
}
.form input::placeholder {
  color: rgb(153, 152, 152);
}
.form button {
  width: 100%;
  background-color: var(--clr-primary-2);
  border: var(--clr-primary-1);
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
.form button:hover {
  background-color: var(--clr-primary-3);
}
.form p > a {
  color: var(--clr-primary-2);
  text-decoration: none;
}
.form p > a:hover {
  color: var(--clr-primary-3);
}
.no-account {
  margin-top: 2.3rem;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 972px) {
  .form {
    width: 60%;
  }
}
