.title {
  background: var(--clr-primary-2);
  width: 85dvw;
  padding-block: 1.26rem;
  padding-inline: 6rem 96px;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  border-left: 1px solid #fff;
  color: #3b2046;
  margin-left: 15rem;
}
.task-list-heading {
  margin-left: 21rem;
  color: #3b2046;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.tasks-container {
  margin-left: 21rem;
  /* width: 85%; */
}

.list-group-item h5 {
  letter-spacing: 2px;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.56rem;
  padding-inline: 1rem;
  width: 90%;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
}
.task-name {
  flex: 3;
}
.task-status {
  flex: 1;
  text-align: center;
  padding: 0.3rem 0.23rem;
  border-radius: 4px;
  margin-right: 6rem;
}
.task-owners {
  flex: 2;
  gap: 0.5rem;
}
.task-time {
  flex: 1;
  text-align: right;
}
.date {
  margin: 0;
}
.task-modal {
  margin-top: 2rem;
  margin-right: 3rem;
}
.select {
  color: gray;
  border: 1.5px solid rgb(181, 179, 179);
  border-radius: 5px;
}
.select option {
  color: gray;
}
.task-headings {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.task-headings strong {
  color: #3b2046;
  letter-spacing: 1.2px;
  font-size: 1.1rem;
}
.tasks {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.no-data-found {
  margin: 5rem auto;
  margin-left: 40rem;
}
.no-data-found img {
  width: 500px;
  height: 500px;
}
.no-data-found p {
  margin-left: 5rem;
  color: gray;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
}
.no-data-found h3 {
  margin-left: 10.5rem;
  color: #3b2046;
  letter-spacing: 1.2px;
}
