:root {
  --clr-primary-1: #aa60c8;
  --clr-primary-2: #d69ade;
  --clr-primary-3: #eabde6;
  --clr-primary-4: #ffdfef;
}

/* Sidebar Container */
.sidebar,
.offcanvas-start {
  background-color: var(--clr-primary-2);
}

/* Brand Header */
.brand {
  background-color: var(--clr-primary-1);
  font-family: cursive;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: lighter;
}

/* Navigation List */
.nav {
  padding-block: 1rem;
}

.nav li {
  padding-block: 0.26rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-inline: 1.2rem;
}

.nav-item a {
  color: #b316f0;
}

.nav-item a:hover {
  color: #fff !important;
  font-weight: bold;
}

/* Active Link */
.active {
  color: #b316f0 !important;
}

/* Hover effect for li */
.nav li:hover {
  background-color: var(--clr-primary-1);
  color: white;
}
.offcanvas-header {
  background-color: var(--clr-primary-1);
}
